body {
    /* background-image: url('bird.jpg');; */
    background: linear-gradient(to bottom, #0d8af0, #f4f5f7);
    background-size: 100% auto;
    background-repeat: no-repeat; 
    font-family: 'Roboto', sans-serif;
    background-position: center center;
} 

h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 50px;
    color: #c445eb;
    text-shadow: 4px 5px 5px rgba(22, 1, 1, 0.822);
    font-family: "Bebas Neue", sans-serif;
}

#name_to_search {
    color: black;
}

#details_needed_amount {
    color: black;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 5px 5px rgba(22, 1, 1, 0.822);
}

label {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ff5100;
    display: inline-block;
    background-color: #f5f1f1e1;
    padding: 5px 10px;
    border-radius: 5px;
}

input[type="text"], input[type="number"], input[type="checkbox"], input[type="submit"] {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2em;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.863);
    color: #ffffffc2;
    box-shadow: 4px 5px 5px rgba(22, 1, 1, 0.822);
}

input[type="checkbox"] {
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid #555;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #49f006;
  }

input[type="submit"] {
    background-color: #fa27c5;
    color: #000;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 4px 5px 5px rgba(22, 1, 1, 0.822);
}

iframe {
    margin-top: 50px;
    border: none;
}
